@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap'); /*Importando fontes */

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #1E1E2A;
}

/* HEADER */

.header-container {
    height: 100vh;
    width: 100vh;
    background-color: #60E1E0;
    background-image: url('#');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-media{
    margin-top: 1rem;
    display: flex;
}

.social-media a{
    text-decoration: none;
    color: #1E1E2A;
    padding: 1rem 4rem;
    border: 1px solid #1E1E2A;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

a:hover {
    background-color: #FFF;
}

/* MENU HAMBURGUER */

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top:0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #1E1E2A;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(1) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* MENU */

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #FFF;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px;
    color: #1E1E2A;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}